footer {
  text-align: center;
  padding: 0;
  background: white;
}
.icon {
  font-size: 40px;

  text-align: center;
  margin: 0;
  text-decoration: none;
  padding: 0 3px;
  color: black;
}

a.icon {
  text-decoration: none;
  padding: 0 3px;
}
a.icon:hover {
  color: grey;
}

.portfolio {
  font-size: 35px;
  position: relative;
  top: -2px;
}
